.resetpassword {
  width: 100%;
  height: 50vh;
  padding-top: 60px;
  display: flex;
  margin-top: 5vh;
}

.resetpassword-container {
  width: 560px;
  background: white;
  margin: auto;
  padding: 30px 60px;
}

.resetpassword-container h1 {
  margin: 20px 0px;
}

.resetpassword-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.resetpassword-fields input {
  height: 67px;
  width: 100%;
  margin-top: 15px;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
}

.resetpassword-fields button {
  width: fit-content;
  padding: 15px;
  color: white;
  background: #ff4141;
  margin-top: 30px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.valid-link {
  width: 100%;
  height: 40vh;
  padding-top: 60px;
  display: flex;
  margin-top: 10vh;
}

.valid-link .resetpassword-container {
  width: 560px;
  height: 350px;
  background: white;
  margin: auto;
  padding: 90px 60px;
}

.resetpassword-resend {
  margin-top: 30px;
  color: #5c5c5c;
  font-size: 25px;
  font-weight: 500;
}
.resetpassword-resend .link {
  text-decoration: none;
}

.resetpassword-resend span {
  color: #ea3232;
  font-weight: 600;
  cursor: pointer;
}
